<h1>Slapjack</h1>

<div class="connecting-container">
  Connecting to server...
</div>

<div class="main-container">
  <button type="button" id="startGame" class="btn btn-primary">
    Start Game
  </button>
  <button type="button" id="joinGame" class="btn btn-primary">
    Join as Player
  </button>
  <button type="button" id="observeGame" class="btn btn-primary">
    Join as Observer
  </button>
  <button type="button" id="playCard" class="btn btn-primary">
    Play Card
  </button>
  <button type="button" id="slap" class="btn btn-success">
    Slap!
  </button>

  <ul>
    <li id="usernameDisplay"></li>
    <li class="num">
      <span>Players in Game:</span> <span class="playerNames"></span>
    </li>
    <br>
    <li>
      <span> Number of Cards in your hand: </span> <span class="numCards"></span>
    </li>
    <li class="currentPlayerUsername"></li>
  </ul>

  <h1 id="pileDisplay"></h1>
  <img id="card" src="" style="width: 200px; margin-top: 50px">
  <div id="messages-container"></div>
</div>
