

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title</title>
  </head>
  <body>
    <div>
      <h1>
        {{#if isEven}}
          The word {{word}} has an even number of letters!
        {{else}}
          The word {{word}} has an odd number of letters!
        {{/if}}
      </h1>
    </div>
  </body>
</html>
