body {
    background-color: #0d9ed3;
    text-align: left;
    color: white;
    position: relative;
}

.title {
  clear: both;
  float: left;
  margin-left: 10%;
  font-size: 3em;
  display: block;
  margin: 0;
  position: relative;
  left: 7%;
  top: 50px;
}

.label {
  height: 54px;
  float: left;
  margin-left: 7%;
  margin-right: 10%;
  font-size: 3em;
  display: inline-block;
}

.menu [href="#"] {
  display: inline-block;
  border-top: 4px solid white;
  padding-left: 30px;
}

.menu [href="#"]:hover {
  color: #bc3650;
}

.description {
  float: left;
  max-width: 43%;
  clear: both;
  margin: 100px 7%;
  font-size: 25px;
}

h2 {
  margin-top: 100px;
}

.row {
  margin-top: 50px;
}
.row * {
  display: block;
  height: 30px;
  width: 320px;
  border: 0;
  padding: 10px;
  border-bottom: 1px solid black;
}
