<p>
  Add one Bootstrap-style success notification and one warning notification
  to this page using partials.
  {{>success class="alert-success" msg="Good job!"}}<br>
  {{>warning class="alert-warning" msg="Be careful!"}}
</p>
