<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AJAX Counter</title>
  </head>
  <body>
    <h1>Count: <span id="count">{{count}}</span></h1>
    <form action="/up" method="post">
      <input id="up" type="submit" value="Up">
    </form>
    <form action="/down" method="post">
      <input id="down" type="submit" value="Down">
    </form>

    <script src="/jquery.js"></script>
    <script>
      // YOUR CODE HERE
      $('body').on('click', '#up', function(event) {
        event.preventDefault();
        $.ajax({
          url: '/up',
          method: 'post',
          success: function(resp) {
            console.log('SUCCESS', resp);
            $('#count').text(resp.count);
          }
        })
      })
      $('body').on('click', '#down', function(event) {
        event.preventDefault();
        $.ajax({
          url: '/down',
          method: 'post',
          success: function(resp) {
            console.log('SUCCESS', resp);
            $('#count').text(resp.count);
          }
        })
      })
    </script>
  </body>
</html>
