body {
    background-color: #fff;
    font-family: Arial;
    font-size: medium;
    color: #4d4d4d;
    font-weight: 400;
}

h2 {
    font-size: large;
}

section {
  padding: 80px 20px;
}

.center-paragraph {
  margin: 1em 16%;
}

.text-center {
  text-align: center;
}
