<form action="" method="POST" style="text-align: center; max-width: 300px; margin: auto; margin-top: 80px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
  <h3>Login</h3><br>
  <div class="form-group">
    <input type="text" name="username" placeholder="Name" class="form-control">
  </div>
  <div class="form-group">
    <input type="password" name="password" placeholder="Password" class="form-control">
  </div>
  <br>
  <div class="form-group">
    <input type="submit" class="btn btn-info" value="Login"><br><br>
    <a href="/signup">Go to Registration</a>
  </div>
</form>
