<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <h1 style="text-align: center">Put your registration form here</h1>
    <div style="background-color: pink; margin: 1em"><strong>Errors:</strong>
      <ul>
        {{#each errors}}
          <li>{{msg}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="row">
      <form action="/register" method="post" style="padding: 5%; background-color: white">
        <!-- <label>First Name</label>
        <input type="text" placeholder="First Name" name="firstName" required><br> -->
        <div class="form-group">
          <label>First Name</label>
          <input type="text" placeholder="First Name" name="firstName" class="form-control">
        </div>
        <div class="form-group">
          <label>Middle Initial</label>
          <input type="text" placeholder="Middle Initial" name="middleInitial" class="form-control"><br>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" placeholder="Last Name" name="lastName" class="form-control"><br>
        </div>
        <div class="form-group">
          <label>DOB</label>
          <input type="date" placeholder="mm/dd/yyyy" name="DOB" class="form-control"><br>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" placeholder="Password" name="password" class="form-control"><br>
        </div>
        <div class="form-group">
          <label>Repeat Password</label>
          <input type="password" placeholder="Repeat Password" name="repeatPassword" class="form-control"><br>
        </div>
        <!-- <input type="radio" name="gender" value="male" checked required> Male<br>
        <input type="radio" name="gender" value="female" required> Female<br>
        <input type="radio" name="gender" value="other" required> Rather not say<br> -->
        <div class="form-group">
          <label>Gender</label><br>
          <label class="radio-inline"><input type="radio" value="Male" name="gender" checked>Male</label>
          <label class="radio-inline"><input type="radio" value="Female" name="gender">Female</label>
          <label class="radio-inline"><input type="radio" value="Rather not say" name="gender">Rather not say</label><br>
        </div>

        <div class="form-group">
          <label>Biography</label>
          <textarea class="form-control" name="bio" rows="8" cols="80"></textarea>
        </div>


        <div class="checkbox form-group">
          <label><input type="checkbox" name="signUp">Sign-up for newsletter</label>
        </div><br>

        <input type="submit" value="Submit!" class="btn btn-success">
      </form>
    </div>
  </div>
</body>
</html>
